/**
 * Created by Watson on 05.05.2022.
 */

@import "../../../styles/colors";

.yurComparativeDocumentsDebt{
  h1 {
    font-size: 28px;
    line-height: 33px;
    color: #282F38;
  }

  .forms {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(17, 24, 39, 0.05);
    backdrop-filter: blur(40px);
    border-radius: 16px;
    padding:20px 30px 50px 30px;

    h1{
      font-size: 28px;
    }
    input {
      //background: #F6F6F7;
      padding-left: 20px;
      height: 50px;
      &[disabled]{
        background: #EBEDF1;
        border-color: #EBEDF1;
      }
    }

    .loupe {
      border-radius: 8px 0px 0px 8px;
      display: inline-block;
    }

    button {
      background: #325ECD;
      border-radius: 0px 8px 8px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;

      span {
        background-color: white;
      }
    }
  }

  .path {
    margin: 20px 0 20px 0;

    img {
      margin: 0 20px;
    }

    span {
      color: #B6BCCD;
    }
  }

/*  h1{
    margin-bottom: 45px;
  }
  .inputMarginBottom{
    margin-bottom: 35px;
  }*/
}
.yurComparativeDocumentsDebtInfo{
  margin-top: 30px;
  margin-bottom: 50px;
  .forms {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(17, 24, 39, 0.05);
    backdrop-filter: blur(40px);
    border-radius: 16px;
    padding:30px 30px  50px 30px;
    position: relative;
    label{
      display: block;
      color: #282F38;
      margin-bottom: 10px;
      font-size: 16px;
    }

  }

  .createShape {
    background: #8CC152;
    box-shadow: 0px 20px 20px rgba(140, 193, 82, 0.22);
    border-radius: 60px;
    padding: 12px 50px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    position: absolute;
    right: 30px;
    bottom: -25px;
    span{
      background-color: #fff;
      margin-right: 10px;
    }
  }


/*  margin-top: 45px;
  .p20{
    padding-right: 20px;
  }*/
}
.YurTaxView{
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(17, 24, 39, 0.05);
  backdrop-filter: blur(40px);
  border-radius: 16px;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 100px;
  margin-bottom: 50px;

  .pdfDownload{
    border: 1px solid #B6BCCD;
    border-radius: 8px;
    height: 38px;
  }
  .uploadBtn{
    padding: 8px 20px;
    border: 1px solid #B6BCCD;
    border-radius: 8px;
    background-color: transparent;
    display:  block;
    //margin: 20px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    span{
      background-color: $color-newBlue;
      margin-right: 10px;
    }
    color: $color-newBlue;
  }
  .printBtn{
    background-color: $color-newBlue;
    padding: 8px 20px;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    span{
      background-color: #fff;
      margin-right: 12px;
    }
  }
  .mainPdfReader{
    text-align: center;
  }
}
