$color-white: #FFFFFF;
$color-bg: #F6F6F7;
$color-icon: #282F38;;
$color-blue: #147AD6;
$color-red: #D36377;
$color-gray: #E5E6ED;
$color-grey: #BCBCBC;
$color-seriy: #7C828A;

//----------------------------------------
$color-newBlack: #282F38;
$color-newRed: #E9573F;
$color-newBlue: #174AA4;
$color-newGreen: #8CC152;
