/**
 * Created by Watson on 08.05.2022.
 */

@import "../../../styles/colors";

.registerModifyData{
  //.inputRows{
  //  margin-bottom: 30px;
  //  .sendBtn{
  //    margin-top: 47px;
  //  }
  //  .additionalStyle{
  //    button{
  //      right: 15px;
  //    }
  //  }
  //  .fileSelectBtn{
  //    button{
  //      padding: 19px 94px;
  //      box-shadow: 0px 10px 20px -10px rgba(30, 45, 86, 0.2);
  //      border-radius: 5px;
  //      background-color: $color-blue;
  //      color: $color-white;
  //      font-weight: 400;
  //      font-size: 20px;
  //    }
  //    span{
  //      margin-left: 30px;
  //      font-weight: 400;
  //      font-size: 16px;
  //      color: $color-seriy;
  //    }
  //  }
  //  .regTitle{
  //    position: relative;
  //    .regTitleLabel{
  //      display: flex;
  //      align-items: center;
  //      label{
  //        position: relative;
  //      }
  //      .withStar{
  //        color: $color-red;
  //        position: absolute;
  //        top: -8px;
  //        margin-left: 5px;
  //      }
  //    }
  //  }
  //}
  padding-bottom: 50px;
  .path {
    margin: 20px 0 20px 0;
    img {
      margin: 0 20px;
    }
    span {
      color: #B6BCCD;
    }
  }
  .searchBtn{
    background: $color-newBlue;
    border-radius: 0px 8px 8px 0px;
    width: 50px;
    margin-left: -3px;
    span{
      background-color: $color-white;
    }
  }
  .addBtn{
    position: absolute;
    right: 30px;
    bottom: -25px;
    box-shadow: 0px 20px 20px rgba(21, 37, 126, 0.22);
    border-radius: 60px;
    background-color: $color-newBlue;
    padding: 14.5px 40px;
    color: $color-white;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    span{
      background-color: $color-white;
      margin-right: 10px;
    }
  }
}

.provideInnCertificatePair{
  .path {
    margin: 20px 0 20px 0;
    img {
      margin: 0 20px;
    }
    span {
      color: #B6BCCD;
    }
  }
  .plusBtn{
    margin-top: auto;

    button{
      height: 50px;
      width: 50px;
      border-radius: 8px;
      background-color: $color-newBlue;
    }
    span{
      background-color: $color-white;
    }
  }
  .uploadBtn{
    width: 100%;
    margin-top: auto;

    display: flex;
    button{
      height: 50px;
      display: block;
      font-weight: 700;
      font-size: 18px;
      width: 100%;
      line-height: 130%;
      color: $color-white;
      border-radius: 8px;

      &:nth-child(1){
        margin-right: 10px;
        background: #C19E7A;

      }
      &:nth-child(2){
        background: $color-newBlue;

      }
      span{
        margin-right: 10px;
        background-color: $color-white;
      }
    }
  }
}
